<?xml version="1.0"?>

<model>
  <name>Cessna C-172</name>
  <version>1.0</version>
  <sdf version="1.5">camera.sdf</sdf>

  <author>
    <name>Carlos Agüero</name>
    <email>caguero@osrfoundation.org</email>
  </author>

  <description>
    Fisheye Camera.

    The meshes have been imported from website:
    https://3dwarehouse.sketchup.com/model/241140a0-8f2e-4f97-94b1-a995e0df7c8e/CCTVCamera by James Eric Kuzwa
    https://3dwarehouse.sketchup.com/model/f38d111522518914c2f55fd78da7214/Security-Camera by Umit Y.

  </description>
</model>
