<?xml version="1.0"?>

<model>
  <name>Receiver Wireless Sensor for Gazebo</name>
  <version>1.0</version>
  <sdf version="1.5">receiver.sdf</sdf>

  <author>
    <name>Fabrício C. Souza</name>
    <email>fcsouza14@unifesp.br</email>
  </author>

  <description>
    Wireless Receiver sensor plugin.
  </description>
</model>
