<?xml version="1.0"?>

<model>
  <name>Wireless Sensor for Gazebo</name>
  <version>1.0</version>

  <author>
    <name>Fabrício C. Souza</name>
    <email>fcsouza14@unifesp.br</email>
  </author>

  <description>
    Wireless Transmitter and Receiver sensor plugin.

    The meshes have been imported and adapted from:
    https://3dwarehouse.sketchup.com/model/ef6d4d30d1d39f1e2a9eb0f146e94477/Car-Antenna
  </description>
</model>
